NEXT_PUBLIC_APP_BASE_URL=
NEXT_PUBLIC_APP_BASE_USER_MANAGE_URL=
NEXT_PUBLIC_DRUPAL_BASE_URL=
NEXT_PUBLIC_APP_BASE_SHOPPING_CART_URL=
NEXT_PUBLIC_APP_BASE_CONFIGURATION_URL=
NEXT_PUBLIC_APP_BASE_INTEGRATOR_URL=
NEXT_PUBLIC_APP_BASE_BFF_URL=
NEXT_PUBLIC_HOME_TOP_PRODUCT_ID=
NEXT_PUBLIC_HOME_TOP_PLAN_ID=