@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');

/*--- Font Weight ---*/

$Regular: 400;
$Medium: 500;
$Bold: 700;
// font size variable
$font-size-10: 0.625em;
$font-size-11: 0.6875em;
$font-size-12: 0.75em;
$font-size-13: 0.8125em;
$font-size-14: 0.875em;
$font-size-15: 0.9375em;
$font-size-16: 1em;
$font-size-24: 1.5em;
$font-size-25: 1.5625em;
$font-size-20: 1.25em;
$font-size-22: 1.375em;
$font-size-23: 1.4375em;
$font-size-18: 1.125em;
$font-size-26: 1.625em;
$font-size-27: 1.6875em;
$font-size-28: 1.75em;
$font-size-30: 1.875em;
$font-size-32: 2em;
$font-size-34: 2.125em;
$font-size-37: 2.3125em;
$font-size-38: 2.375em;
$font-size-40: 2.5em;
$font-size-48: 3em;
$font-size-70: 4.375em;
$font-size-60: 3.75em;
$font-size-90: 5.625em;
// color variable
$nav-bg: #ffc206;
$black: #000000;
$white: #ffffff;
$on-bg-color: #e7792b;
$link-txt: #383838;
$border-color: #D3DAE3;
$red-color: #F52E2E;
$green-color: #53BB46;
$plan-boxbg:#20607a;
$planbox-titel:#666666;
$thumb-bg:#e3e3e3;
$color-pink:#ECBEB7;
$color-purpel:#918FB0;
$color-light-black:#414246;
$accordion-header-bg: #FFF1CF;
$gray-bg-color: #262626;
$form-border-color: #8c8c8c80;
$form-placeholder-color: #8C8C8C;
$form-field-bg: #d9d6ce;
$shopingcsrt-input:#fffbf3;
$shopingcsrt-placeholder:#B3ADAD;
$blue-color:#338BFF;
$summary-card-border:#EBEBEB;
$shopingcsrt-input:#fffbf3;
$shopingcsrt-placeholder:#B3ADAD;
$product-btn:#D12F62;
$active-color:#0FAF4B;
$deshboed-bg:#FFCC00;
$link-blue-color: #29A2FF;
$errorboxbg: #FFF1F1;
$errortxtcolor: #FF5757;
